/target
.DS_Store
/.idea
.env

# Fixtures
*.wkt
*.geojson

todo.md

/libs/routers_fixtures/resources/*
/libs/timezone/routers_tz_build/data/*

!district-of-columbia-minified*
!los-angeles-minified*
!zurich-minified*
!sydney-minified*

*-local.osm.pbf
